/*---------Navbar-------*/

.navbar-nav{
    font-size: 1.3rem !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
}

.navbar .nav-link:hover{
    color: #dc3445 !important;
}



/*-------Carousel------*/




/*---------about section----------*/




/*------------instructors--------*/




/*-------------students section-----------*/




/*-----------courses section-----------------*/




/*-------------contact section------------*/




/*-----------footer----------*/




/*-----------button-----------*/