:root{
    --red:#dc3445;
}

/*---------Navbar-------*/
.navbar-nav{
    font-size: 1.3rem !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
}

.navbar .nav-link:hover{
    color: var(--red) !important;
}

/*-------Carousel------*/
/*vh=> sayfayi actiginda gorunen beyaz alan*/
.carousel-item{
    max-height: calc(100vh - 95px);
}
.carousel-caption .btn{
    width: 7rem;
}
.carousel-caption h5{
    color: var(--red);
    font-size: 2.4rem;
    text-shadow: 3px 3px 3px black; /*3px x ekseninde 3px y ekseninde 3px blur siyah renk*/
}
.carousel-caption p{
    font-weight: 600;
    text-shadow: 3px 3px 3px black; /*3px x ekseninde 3px y ekseninde 3px blur siyah renk*/
}
.carousel-caption {
    bottom: 5rem;
}
.carousel-indicators{
    gap: 0.7rem;
}
.carousel-indicators button{
    background-color: var(--red) !important;
    padding: .1rem !important;
    width: 3rem !important;
}


/*---------about section----------*/




/*------------instructors--------*/
section#instructors .card{  /* id si instructors olan section daki card class ina sahip olanlarda hover olursa*/
    transition: transform .5s;
}
section#instructors .card:hover{  /* id si instructors olan section daki card class ina sahip olanlarda hover olursa*/
    transform: scale(1.03);
}
section#instructors i{
    transition: opacity 0.5s;
}
section#instructors i:hover{
    opacity: 0.5;
}


/*-------------students section-----------*/




/*-----------courses section-----------------*/
section#courses .nav-link.active{
    background-color: var(--red);
}
section#courses .nav-link{
    color: white;
}
section#courses .nav-pills{
    font-size: 0.8rem;
}



/*-------------contact section------------*/




/*-----------footer----------*/




/*-----------button-----------*/